#
#
#

# Ignore the built binaries
wconsd.exe
portenum.exe

# Ignore the partial objects
wconsd.o
win-scm.o

# Also ignore any binaries from the wine build
wconsd.exe.so
wconsd

# Ignore my simple notes until I care
notes-xmodem.txt
cmd.txt
